<!DOCTYPE html>
<html>
<head>
    <title>Video Page</title>
</head>
<body>
    <h1>Generated Video</h1>
    <video controls>
        <source src="{{ video_path }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <video controls>
        <source src="{{ url_for('static', filename=video_filename) }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <video controls>
        <source src="{{ url_for('static', filename=video_filename2) }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>


</body>
</html>
